* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #fbf3d3;
    background-image: url("bts.png");
    font-family: 'Malgun Gothic';
    font-weight: 300;
}

form {
    width:24.7%;
    margin: auto;
}

.search {
    padding: 2% 5%;
    background: #f0f8ff;
    border: 10% solid black;
    width: 80%;
    margin-top: 3%;
    display: inline-block;
}

.button {
 /*   left:-4px; */
    padding: 2% 5%;
    border: 0px solid black;
    background-color: black;
    color: #fafafa;
    font-weight: bold;
    margin-top: 3%;
    width: 20%;
    float: right;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.shop-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.shop-name-large {
    font-size: 6em;
} 

.content-section {
    margin: 1em;
    height: auto;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
    align-content: center;
}

.section-header {
    font-family: "Malgun Gothic";
    color: #333;
    text-align: center;
    font-size: 2.0em;
    font-weight: 200;
    align-content: center;
}

.about-shop-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}


.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.active {
    background-color: #fff6d0;
    color: #7e0a08;

}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    border-color: #7e0a08;
    border-radius: 0;
    background-color: #fbf3d3;
    color: #7e0a08;
}

.btn-primary:hover {
    color: white;
    background-color: #7e0a08;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    font-weight: 200;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.box {
    float: left;
    width: 10%;
    height: 10%;
    background-color: darkturquoise;
    border: 2px solid black;
    top: 5%;
}
   
}

h3 {
    text-align: center;
}
.footer {
    background-color: #ffefb0;
}


.header {
  overflow: hidden;
  background-color: #a91e23;
    height: 100px;
}

.header a {
  float: left;
    margin: 0;
  color: white;
  text-align: center;
  padding-top: 34px;
    padding-left: 40%;
  text-decoration: none;
  font-size: 38px; 
  line-height: 25px;
  border-radius: 4px;
    font-family: 'Megrim';
}

.menucontainer {
    height: 35px;
    width: 100%;
    background-color: #7e0a08;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 38%;
  overflow: hidden;
  background-color: #7e0a08;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fbf3d3;
    color: #a91e23;
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 16px;
}


#center {
    float: center
    
}

.middle {
    background-color: #fbf3d3;
    padding: 30px;
}

.middle h3 {
    font: 25px black;
}

.middle .outset {
    border: 2px solid #a91e23;
    border-style: outset;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 5px 10px darkred;
}


.content {
    float: center;
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 30px;
    background-color: #FFF5BD;
}

.content button {
    background-color: #BD2A2A;
    color: white;
}

.content .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
  
#outro {
  padding: 90px 50px 90px 50px;
  background-color: #BD2A2A;
}

#outro .col-sm-8 {
    float: right;
}

#outro p {
    color: white;
        font: 20px white;
}

#outro i {
    color: white;
    font: 20px white;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
    height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: rgb(242,113,33);
    background: linear-gradient(90deg, rgba(242,113,33,1) 0%, rgba(233,64,87,1) 49%, rgba(138,35,135,1) 100%);
  color: white;
}
